<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>老斑鸠音乐盒</title>
  <link rel="stylesheet" href="../css/index.css">
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      background-color: #f78eae;
    }
  </style>
</head>

<body>
  <div id="app-music">
    <div id="app-musicbox">
      <!-- 顶部title和搜索栏 -->
      <div class="box-top">
        <div class="top-title">老斑鸠音乐盒</div>
        <div class="top-search">
          <!-- 搜索音乐 按回车搜索 -->
          <input type="text" v-model="keywords" @keydown.enter="searchSongs">
          <span class="search">🔍</span>
        </div>
      </div>
      <!-- content -->
      <div class="box-content">
        <!-- 左边内容 -->
        <div class="content-left">
          <!-- 歌曲列表 -->
          <div class="music-list">
            <div class="music-list-item" v-for="(item,index) in songs" :key="item.id">
              <div class="item-audio" @click.stop="getAudio(item.id)">▶</div>
              <div class="songname" :title="item.name">{{item.name}}</div>
              <div :class="['mvbtn',{hidden:item.mvid==0}]" @click.stop="getMV(item.mvid)">mv</div>
            </div>
          </div>
        </div>
        <!-- 中间的cd动画 -->
        <div class="content-middle">
          <img src="../imgs/player_bar.png" alt="" :class="['player-bar',{playing:isAudioPlaying}]" />
          <img :src="coverUrl" alt="" class="cover" />
          <img src="../imgs/disc.png" alt="" :class="['disc',{autorotate:isAudioPlaying}]" />
        </div>
        <!-- 右边的热门评论 -->
        <div class="content-right">
          <h4 class="comment-title">热门留言</h4>
          <div class="comments-list">
            <div class="comments-list-item" v-for="(item,index) in hotComments" :key="item.commentId">
              <div class="item-left">
                <img :src="item.user.avatarUrl" alt="" />
              </div>
              <div class="item-right">
                <div class="nickName">{{item.user.nickname}}</div>
                <div class="content">{{item.content}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 底部 -->
      <div class="box-bottom">
        <audio ref="audio" @pause="handlePause" @play="handlePlay" :src="songUrl" controls="controls" loop="loop"
          autoplay="autoplay"></audio>
        <div :class="['video-box',{hidden:!isMVPlaying}]">
          <div class="video-close" @click.stop="closeMV">×</div>
          <!-- pause() -->
          <video ref="video" :src="mvUrl" controls="controls" autoplay="autoplay" loop="loop"></video>
          <div class="video-mask"></div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../node_modules/vue/dist/vue.js"></script>
<script src="../node_modules/axios/dist/axios.min.js"></script>
<script src="../js/myaxios.js"></script>
<script src="../js/index-origin.js"></script>

</html>